body {
	background-color: black;
	font-family: verdana, sans-serif;
}
#container {
	position: relative;
	width: 810px;
	height: 810px;
	margin: auto;
	background: url('images/plansza.png') no-repeat;
}
#comments {
	position: absolute;
	top: 0;
	left: auto;
	font-size: 30px;
}
#comments {
	color: red;
	margin: 0;
	padding: 0;
}
table {
	position: absolute;
	top: 135px;
	left: 97px;
}
td {
	width: 86px;
	height: 75px;
}
form {
	position: absolute;
	bottom: 0;
	right: 0;
	padding:15px;
	background-color: rgb(83, 175, 19);
}
form input {
	background-color: rgb(152, 207, 113);
	border-color: rgb(83, 175, 19);
	font-size: 1.5em;
}
.hit {
	background: url('images/ship.png') no-repeat center center;
}
.miss {
	background: url('images/pudlo.png') no-repeat center center;
}
	
	